#Font {
	.Archer() {
		font-family: 'Archer SSm A', 'Archer SSm B', 'Archer';
		font-weight: 500;
		font-style: normal;
	}
	.ArcherItalic() {
		font-family: 'Archer SSm A', 'Archer SSm B', 'Archer';
		font-weight: 500;
		font-style: italic;
	}
	.ArcherBold() {
		font-family: 'Archer SSm A', 'Archer SSm B', 'Archer';
		font-weight: 800;
		font-style: normal;
	}

	.TungstenBold() {
		font-family: 'Tungsten A', 'Tungsten B', 'Tungsten';
		font-weight: 700;
		font-style: normal;
	}
}