@highDensity:      ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";

@mobileM:           ~"only screen and (max-width: 640px)";

@mobile:           ~"only screen and (max-width: 540px)";

@mobileS:          ~"only screen and (max-width: 400px)";


@tablet:           ~"only screen and (min-width: 541px) and (max-width: 960px)";

@tabletAndMobile:  ~"only screen and (max-width: 960px)";

@desktop:          ~"only screen and (max-width: 1150px)";

@hover: 		   ~"only screen and (min-width: 1024px)";


@portrait:         ~"(orientation: portrait)";

@landscape:        ~"(orientation: landscape)";




@media @desktop {
	section {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	
	#lineup-section {
		.lector-list {
			justify-content: space-around; 
		}
	}
}

@media @tabletAndMobile {
	body {
		font-size: 75%;  /* equals 12px */
	}

	#header-section {
		#logo {
			margin-left: 0;

			img {
				width: 100%;
				max-width: 478px;
			}
		}

		h1 {
			margin-top: 40px;
			font-size: 1.5em;  /* 24/16 */
		}
	}

	#heighlights {
		.heighlights-tabber-menu {
			display: flex;

			li {
				margin: 0;
				padding: 20px;
			}
		}
	}

	#footer {
		padding: 80px 20px 80px;

		.shell {
			justify-content: center; 

			> div {
				flex: 1 1 100% !important;
				max-width: 300px;
			}
		}

		.social {
			margin-top: 60px;
		}
	}
	
}

@media @tablet {


}

@media @mobile {

	

	#header-section {
		#logo {
		}
	}
	
	#lineup-section {

		figure {
			max-width: 250px;
		}
		.social {
			justify-content: space-around;

			> div {
				margin: auto auto 40px auto;
			}
		}
	}

	#footer {
		text-align: center;
	}
}

@media @mobileM {
	.panel {
		padding-left: 0 !important;
		padding-right: 0 !important;
		box-shadow: none ;
		margin: 0 ;
	}

	#header-section {
		height: auto;
		padding-top: 60px;
		padding-bottom: 60px;

		h1 {
			margin-top: 40px;
			font-size: 1.5em; /* 40/16 */
			text-align: center;
		}

		#logo {
		}

		#dev-guy {
			display: none;
		}

		.status {
			text-align: center;
		}
	}
}

@media @mobileS { 
	#notify-section {
		.notify {
			button {
				left: 50%;
				padding: 12px 31px;
				position: absolute;
				top: 200%;
				transform: translate(-50%, 0);
			}
		}
	}

	#heighlights {
		.heighlights-tabber-menu {


			li {
				font-size: 14px;

				margin: 0;
				padding-left: 10px;
				padding-right: 10px;

				&:last-of-type {

				}

				&:after {
					opacity: 0.4;
				}
			}
		}
	}
}

@media @hover { 

	a, button {
		transition: all 0.2s;
	}

	.social {
		> div {
			a:hover {
				opacity: 0.9;
			}
		}
	}

	button:hover {
		background-color: #CB2A22;
	}

	.heighlights-tabber-menu {

		li {
			&:before {
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				margin: auto;
				width: 70%;
				height: 4px;
				content: '';
				opacity: 0;
				transform: translateY(20px);
			}

			&:hover {
				color: #28859A;
				&:before {
					transform: translateY(10px) !important;
					opacity: 1 !important;
					background: rgba(0,93,105,0.2) !important;
				}
			}
		}
	}
}