/*
*
*
* Tabber
*
*
*/


.tabContainer {
	width: @tabberWidth;
	padding: 0 10px;
}

.tabHolder {
	margin: 0;
	text-align: left;

	li {
		display: inline-block;
		background: @colorAccent;
		width: @tabsWidth;
		height: 50px;
		text-align: center;

		a {
			display: block;
			line-height: 50px;
			text-transform: uppercase;
			font-size: 18px;
			color : @colorNeutral;

		}

		&.active {
			background: @colorNeutral;
			border-top: 1px solid @colorAccent;

			a {
				color: #777;
			}
		}
	}
}

ul[data-tab-holder="inner"] {
	// display: inline-block;
	float: left;
	width: @tabsWidth;

	li {
		display: block;

		&.active {
			background: @colorNeutral;
			border-left: 1px solid @colorAccent;
		}
	}
}

.tabContent {
	margin-top: -1px;
}

.tabContentVertical {
	float: left;
	padding-left: 20px;
    width: ~"calc(100% - 150px)";
}

.tabView {
	display: none;
	background: @colorNeutral;
	min-height: @tabsContentHeight;	
	max-height: @tabsContentHeight;
	position: relative;

	&:after {
		content: '';
		clear: both;
		display: block;
	}

	&.active {
		display: flex;
		align-items: center;
		justify-content: center;
	}	

	p {
		padding: 0 10px;
		text-align: left;
	}

	.tabPaneVertical {
		position: relative;
		top: 2px;
		width: 100%;
		padding: 0;

		&.active {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

@media @tabletAndMobile {

	.tabContainer { 
		width: 100%; 
	}
}

@media @mobile {
	.tabHolder li a {
		font-size: 15px;
	}

	.tabHolder[data-tab-holder="main"] li {
		width: 125px;
	}

	ul[data-tab-holder=inner] {
		width: 125px;

		li {
			width: 125px;
		}
	}

	.tabContentVertical {
		padding-left: 5px;
		width: ~"calc(100% - 125px);"
	}

	.tabView p {
		padding: 0 5px;
		font-size: 0.75rem;
	}
}
