
@font-face {
    font-family: 'Roboto-Slabregular';
    src: url('../../fonts/RobotoSlab-Regular-webfont.eot');
    src: url('../../fonts/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('../../fonts/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Slabbold';
    src: url('../../fonts/RobotoSlab-Bold-webfont.eot');
    src: url('../../fonts/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/RobotoSlab-Bold-webfont.woff2') format('woff2'),
         url('../../fonts/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('../../fonts/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto-Slablight';
    src: url('../../fonts/RobotoSlab-Light-webfont.eot');
    src: url('../../fonts/RobotoSlab-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/RobotoSlab-Light-webfont.woff2') format('woff2'),
         url('../../fonts/RobotoSlab-Light-webfont.woff') format('woff'),
         url('../../fonts/RobotoSlab-Light-webfont.ttf') format('truetype'),
         url('../../fonts/RobotoSlab-Light-webfont.svg#roboto_slablight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'FaktSlabPro-Medium';
    src: url('../../fonts/FaktSlabPro-Medium.eot');
    src: url('../../fonts/FaktSlabPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/FaktSlabPro-Medium.woff') format('woff'),
         url('../../fonts/FaktSlabPro-Medium.ttf') format('truetype'),
         url('../../fonts/FaktSlabPro-Medium.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
