.svg(@encode, @repeat:no-repeat) {
	@dataUriPrefix: ~"url(data:image/svg+xml;base64,";
	@dataUriSuffix: ~")";
    @b64DataUri: ~`(function(a,b,c){function e(a){a=a.replace(/\r\n/g,'\n');var b='';for(var c=0;c<a.length;c++){var d=a.charCodeAt(c);if(d<128){b+=String.fromCharCode(d)}else if(d>127&&d<2048){b+=String.fromCharCode(d>>6|192);b+=String.fromCharCode(d&63|128)}else{b+=String.fromCharCode(d>>12|224);b+=String.fromCharCode(d>>6&63|128);b+=String.fromCharCode(d&63|128)}}return b}function f(a){var b='';var c,f,g,h,i,j,l;var m=0;a=e(a);while(m<a.length){c=a.charCodeAt(m++);f=a.charCodeAt(m++);g=a.charCodeAt(m++);h=c>>2;i=(c&3)<<4|f>>4;j=(f&15)<<2|g>>6;l=g&63;if(isNaN(f)){j=l=64}else if(isNaN(g)){l=64}b=b+d.charAt(h)+d.charAt(i)+d.charAt(j)+d.charAt(l)}return b}var d='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';return a+f(b)+c})('@{dataUriPrefix}','@{encode}','@{dataUriSuffix}')`;

    background-image: @b64DataUri;
	background-repeat: @repeat;
}

#Sprite {
	.Check (@fill:#000) {
		@svg: ~'<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" width="12" height="10" viewBox="0 0 12 10"><path fill-rule="evenodd"  fill="@{fill}" d="M11.768,1.330 C11.768,1.330 10.680,0.206 10.680,0.206 C10.380,-0.103 9.892,-0.101 9.595,0.210 C9.595,0.210 4.373,5.812 4.373,5.812 C4.373,5.812 2.397,3.772 2.397,3.772 C2.097,3.463 1.607,3.463 1.308,3.772 C1.308,3.772 0.219,4.896 0.219,4.896 C-0.080,5.205 -0.080,5.711 0.219,6.020 C0.219,6.020 2.195,8.059 2.195,8.059 C2.195,8.059 3.828,9.745 3.828,9.745 C4.128,10.054 4.618,10.054 4.917,9.745 C4.917,9.745 6.550,8.059 6.550,8.059 C6.550,8.059 11.773,2.458 11.773,2.458 C12.069,2.147 12.068,1.639 11.768,1.330 Z"/></svg>';

		.svg(@svg);
	}

	.Calendar (@fill:#000) {
		@svg: ~'<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><path fill="@{fill}" d="M160,240v32c0,8.8-7.2,16-16,16h-32c-8.8,0-16-7.2-16-16v-32c0-8.8,7.2-16,16-16h32C152.8,224,160,231.2,160,240z M144,352h-32c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32C160,359.2,152.8,352,144,352z M272,224h-32c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32C288,231.2,280.8,224,272,224z M272,352h-32c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32C288,359.2,280.8,352,272,352z M400,224h-32c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32C416,231.2,408.8,224,400,224z M400,352h-32c-8.8,0-16,7.2-16,16v32c0,8.8,7.2,16,16,16h32c8.8,0,16-7.2,16-16v-32C416,359.2,408.8,352,400,352z M112,96h32c8.8,0,16-7.2,16-16V16c0-8.8-7.2-16-16-16h-32c-8.8,0-16,7.2-16,16v64C96,88.8,103.2,96,112,96z M512,128v320c0,35.3-28.7,64-64,64H64c-35.3,0-64-28.7-64-64V128c0-35.3,28.7-64,64-64h16v16c0,17.6,14.4,32,32,32h32c17.6,0,32-14.4,32-32V64h160v16c0,17.6,14.4,32,32,32h32c17.6,0,32-14.4,32-32V64h16C483.3,64,512,92.7,512,128z M480,192c0-17.6-14.3-32-32-32H64c-17.6,0-32,14.4-32,32v256c0,17.7,14.4,32,32,32h384c17.7,0,32-14.3,32-32V192z M368,96h32c8.8,0,16-7.2,16-16V16c0-8.8-7.2-16-16-16h-32c-8.8,0-16,7.2-16,16v64C352,88.8,359.2,96,368,96z"/></svg>';

		.svg(@svg);
	}
}