@import "../../modules/less/reset.less";
@import "fonts.less";

@maxShellWidth:		    1150px;
@maxSmallShellWidth:    750px;


html, body {
	height: 100%;
}

body {
	box-sizing: border-box;
	position: relative;
	font-family: 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

button {
	display: inline-block;
	color: #fff;
	font-family: Arial,'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #de4531;
	padding: 12px 31px;
	border: none;
	border-radius: 27px;
	margin: 0 auto;
	font-size: 18px;
	cursor: pointer;
}

a {
	color: inherit;
}

h1,h2,h3,h4,h5,h6 {

}

h1 {

}
h2 {
	padding: 20px 0;
	font-size: 2.5em; /* 40/16 */
	font-family: 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 26px;
}
h5 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}

p {
	font-size: 17px; /* 17/16 */
}

input {
	&::placeholder {
		color: #9a9a9a;
	}
}

input[type="email"] {
	background-color: #fff;
	border: none;
	border-radius: 28px;
}

.error {
	background-color: #de4531;
	color:#fff;
	font-size: 0.875em; /* 14/16 */
	border-radius: 3px;
	padding: 6px 10px;

	&:after {
		content:"";
		width: 0; 
		height: 0; 
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #de4531;

		position: absolute;
		left: 25%;
		top: -5px;
	}
}

.panel {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	display: inline-block;
	margin: -110px auto -40px;
	padding: 80px 0 0 0;
	position: relative;

	&:after,&:before {
		content:"";
		position: absolute;
		height:45%;
		top:0;
		bottom:0;
		margin: auto;
		width: 20px;
		
		background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

	&:after {
		right:-10px;
	}
	&:before {
		left:-10px;
	}
}

section {
	width: 100%;
}


.content {
	position: relative;
	z-index: 1;
	padding-bottom: 200px;
}

.shell, .small-shell  {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.shell {
	max-width: @maxShellWidth;
}

.small-shell {
	max-width: @maxSmallShellWidth;
}

#telerik-logo {
	width: 164px;
	height: 48px;
}

.social {
	> div {
		width:48px;
		height:48px;
	}

	a {
		align-items: center;
		display: flex;
		width:100%;
		height:100%;
		border-radius: 100%;
		justify-content: center;
	}

	svg {
		flex: 1;
	}
}
.fb-logo {
	a {
		background-color: #507cbe;
	}
	svg {
		width: 20px;
		height: 20px;
	}

}
.tw-logo {
	a {
		background-color: #63cdf1;
	}
	svg {
		width: 30px;
		height: 30px;
	}

}
.li-logo {
	a {
		background-color: #90cadd;
	}
	svg {
	}
}
.yt-logo {
	a {
		background-color: #f16261;
	}
	svg {
		width: 20px;
		height: 20px;
	}

}
.gp-logo {
	a {
		background-color: #f16261;
	}
	svg {
		width: 30px;
		height: 30px;
	}
}

[data-tab] {
	display: none;

	&.active {
		display: block;
	}
}


#logo {
	display:inline-block;
	width: 100%;
	max-width: 478px;

	img {
		// width: 100%;
		// width: 478px;
		margin-right: 10px;
	}

	span {
		font-size: 1.313em;
		color: #fff;
		text-transform: uppercase;
	}
}

#header-section {
	height: 656px;
	background-color: #141417;
	overflow: hidden;
	padding-top: 92px;

	.shell {
		height: 100%;
		position:relative;

	}

	#logo {
		margin: 0 0 15px -80px;
	}

	#dev-guy {
		position: absolute;
		bottom: 0;
		right:-100px;
		z-index: 0;
	}

	header {
		z-index: 1;
		position: relative;
	}

	h1 {
		font-size: 1.0625em; /* 17/16 */
		color: #cdcdcd;
		margin-bottom: 60px;
		font-family: Arial, 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;
	}

	address {
		color: #fff;
		font-family: 'Roboto-Slablight', 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;
		line-height: 34px;
		margin-bottom: 32px;

		span {
			font-size: 1.625em;  /* 26/16 */
		}
	}

	time {
		color: #9ac84d;
		font-size: 1.75em; /* 28/16 */
		font-family: 'Roboto-Slabbold', 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;
	}

	.event-start {
		&+span {
			color: #9ac84d;
			font-size: 1.75em; /* 28/16 */
			font-family: 'Roboto-Slabbold', 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;

		}
	}

	.event-end {
	}

	.status {
		color: #00b7ce;
		font-size: 1em;
		font-family: Arial, 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;

		svg {
			width: 14px;
			height: 16px;
			margin-right: 12px;
		}
	}
}

#become-speacker-section {
	min-height:363px;
	
	button {
		height: 60px;
		min-width: 208px;
	}

	.shell {
		display: flex;
	}

	.panel {
		padding: 55px 40px 80px;
	}

	p, time {
		font-family: Arial, 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;
		color: 333333;
		line-height: 1.471;
		padding-bottom: 15px;
		display: block;
	}

	p {
		&:first-of-type {
			padding-top: 18px;
		}
	}

	time {
		padding: 0;
		margin: 20px 0 57px;
	}
}

#lineup-section {
	background: #efefef;
	padding: 100px 0 60px 0;

	h2 {
		text-align: center;
	}

	.lector-list {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		margin: 30px 0 85px;
	}

	figure {
		max-width: 250px;
		margin-bottom: 35px;

		img {
			width: 100%;
			height: 100%;
			max-width: 250px;
			max-height: 250px;
		}
	}

	figcaption {
		color: #666666;
		font-family: Arial, 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;

		cite {
			font-family: 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 1.75em; /* 28/16 */
			display: block;
			color: #000;
			padding: 25px 0 15px;
		}

		span {
			font-size: 0.875em; /* 14/16 */
			line-height: 1.571;
		}
	}

	.share {
		color: #666666;
		text-align: center;
		font-family: Arial, 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 1.125em; /* 18/16 */
		padding-top: 15px;
	}

	.social {
		display: flex;
		justify-content: center;
		margin: auto;
		margin-top: 40px;
		flex-flow: row ;

		> div {
			max-width: 64px;
			height: 64px;
			flex: 1 1 100%;
			margin-bottom: 40px;

		}

		div + div {
			margin-left: 35px;
		}
	}

	.fb-logo {
		svg {
			width: 20px;
			height: 20px;
		}
	}
	.tw-logo {
		svg {
			width: 40px;
			height: 40px;
		}

	}
	.gp-logo {
		svg {
			width: 40px;
			height: 40px;
		}
	}

}

#about-section {
	background: #7fa243;
	color: #fff;
	padding: 60px 0 70px;
	font-family: Arial, 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;

	h2 {
		text-align: center;
	}

	ul,p {
		line-height: 1.389;
	}

	ul {
		list-style: none;
		padding: 30px 0 0;

		li {
			font-size: 1.0625em; /* 17/16 */
		}

		li:not(:first-of-type) {
			line-height: 1.6;
			&:before {
				content: "- ";
			}
		}
	}

	p {
		padding: 30px 0;
		font-size: 1.0625em; /* 17/16 */

		&:first-of-type {
			font-size: 1.125em; /* 18/16 */
			margin-top: 20px;
			border-top: 1px solid rgba(255, 255, 255, 0.2);
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			
		}
	}
}

#notify-section {
	color: #fff;
	background: url(../img/notify-bg.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 60px 0 185px;
	font-family: Arial, 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;

	span {
		font-size: 1.125em; /* 18/16 */
	}

	input {
		height: 58px;
	}

	.notify {
		max-width: 506px;
		position: relative;
		border-radius: 27px;
		background-color: #fff;
		max-height: 58px;
		display: flex;
		padding: 0 3px 0 0;
		margin: 35px auto 0;

		input {
			width: 100%;
			padding: 0 5px 0 27px;
			line-height: 27px;
			color: #9a9a9a;
			font-size: 1.0625em; /* 17/16 */
			flex: 1;

			&::placeholder {
				color: #9a9a9a;
				font-size: 1.0625em; /* 17/16 */
			}
		}

		.error {
			position: absolute;
			left: 25px;
			top: 90%;
		}

		button {
			height: 52px;
			margin: auto;
			white-space: nowrap;
		}
	}
}


#heighlights {
	overflow: visible;

	.shell {
		display: flex;
	}
	.panel {
		padding: 60px 10% 100px 10%;
		width: 100%;
		text-align: center;
		&:after, &:before {
			height: 60%;
		}
	}

	iframe {
		padding: 30px 0 0;
		width: 100%;
	}

	[data-tabber-content] {
		min-height: 200px;
		display: flex;
		align-items: center;
	}

	[data-tab] {
		width: 100%;
	}

	.heighlights-tabber-menu {
		font-family: Arial, 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, sans-serif;
		color: #00b7ce;
		margin-top: 64px;
		cursor: pointer;

		li {
			flex: 1 1 100%;
			display: inline-block;
			position: relative;
			padding: 0 15px;
			transition: color 0.3s, opacity 0.3s, transform 0.3s;

			&+li {

				&:after {
					content: "";
					position: absolute;
					border-left: 2px solid #e6e6e6;
					height:100%;
					left: 0;
					top:0;
				}
			}

			&:before {
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				margin: auto;
				width: 75%;
				height: 4px;
				background: rgba(1,207,233,0.4);
				content: '';
				opacity: 0;
				transform: translateY(20px);
				transition: opacity 0.3s, transform 0.3s;
			}

			&.active {
				color: #01cfe9;

				&:before {
					transform: translateY(10px);
					opacity: 1;
				}
			}
		}
	}
}

#footer {
	background-color: #272930;
	color: #fff;
	font-family: 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 180px 20px 120px;

	h1 {
		font-size: 2.5em; /* 40/16 */
		padding-bottom: 60px;
	}

	> div {
		flex: 1;
	}

	.shell {
		display: flex;
		flex-flow: row wrap;
	}

	.organized-by {
		flex: 2;
	}

	.contact-us {
		flex: 1;

		li + li {
			margin-top: 10px;
		}

		a {
			font-family: 'FaktSlabPro-Medium', 'Roboto-Slabregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

			&:before {
				padding-right: 13px;
				color: #9ac84d;
			}
		}

		a[href^="mailto"] {
			&:before {content: "E:";}
		}

		a[href^="tel"] {
			&:before {content: "T:";}
		}
	}

	.social {
		flex: 1;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

	}
}

@import "../../modules/less/mediaQueries.less";